<template>
  <div class="py-5">

    <Header class="mb-5"/>
    <div class="main-page">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb fs-14">
                <li class="breadcrumb-item"><nuxt-link class="text-decoration-none" :to="'/'">Home</nuxt-link></li>
                <li class="breadcrumb-item active" aria-current="page">Product</li>
                <li class="breadcrumb-item active" v-if="product" aria-current="page">{{product.attributes.name}}</li>
              </ol>
            </nav>


            <div class="product-detail pt-3"  v-if="product"> 

              <div class="row">
                <div class="col-6">
                  <div class="box-image-product">
                    <div 
                      v-if="product.attributes.rating >= 4 && product.attributes.numOfReviews > 25 && product.attributes.isNew == 1"
                      class="ribbon-hot text-center pt-2">Hot<br/>Item</div>
                    <div 
                      v-else-if="product.attributes.rating >= 4 && product.attributes.numOfReviews > 25"
                      class="ribbon-best text-center pt-2">Best<br/>Seller</div>
                    <div 
                      v-else-if="product.attributes.isNew == 1"
                      class="ribbon-new text-center pt-2">New<br/>Item</div>
                      
                    <img :src="product.attributes.images[0]" width="100%" class="mb-3" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="description-product">
                    <h4 class="font-weight-bold mb-3 fs-20">{{product.attributes.name}}</h4>
                    <div class="row">
                      <div class="col-6">
                        <p class="text-muted">
                          <RatingProduct class="mr-1" :half="getRatingNumber(product.attributes.rating, '')" :rate="getRatingNumber(product.attributes.rating, 'round')"/>

                          {{product.attributes.numOfReviews | formatNumber}} reviews
                        </p>
                      </div>
                      <div class="col-6">

                        <p v-if="product.attributes.stock == 0" class="text-right text-primary font-weight-bold text-danger">Sold Out</p>
                        <p v-else-if="product.attributes.stock >= 5" class="text-right text-primary font-weight-bold text-success">In Stock</p>
                        <p v-else class="text-right text-primary font-weight-bold text-danger">Stock < 5</p>

                      </div>
                    </div>

          
                    <h5 class="font-weight-bold text-success fs-16">{{ product.attributes.points | formatNumber}} points</h5>
                    <div class="py-3" v-html="product.attributes.info" />
                    <div class="row mb-2">
                      <div class="col-4">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend ">
                            <span class="input-group-text" id="basic-addon1"><b-icon icon="dash-circle" aria-hidden="true"></b-icon></span>
                          </div>
                          <input type="text" class="form-control text-center" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="0">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><b-icon icon="plus-circle" aria-hidden="true"></b-icon></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button 
                      v-if="loadingBtn"
                      type="button" class="btn btn-outline mr-3">
                      <b-icon icon="arrow-counterclockwise" animation="spin-reverse" ></b-icon>
                    </button>
                    <button 
                      v-else-if="product.attributes.isWishlist"
                      @click="getFav()"
                      type="button" class="btn btn-primary mr-3">
                      <b-icon icon="bookmark-fill" aria-hidden="true"></b-icon>
                    </button>
                    <button 
                      v-else
                      @click="getFav()"
                      type="button" class="btn btn-outline-primary mr-3"><b-icon icon="bookmark-fill" aria-hidden="true"></b-icon></button>
                   
                    <button type="button" class="btn btn-secondary mr-3">Redeem</button>
                    <button type="button" class="btn btn-outline-success">Add to cart</button>

                  </div>
                </div>
              </div>

            </div>

            <div class="text-center" v-else>
                <h1 class="pt-5">Oopsss :(</h1>
                <p>Product Not fount !!!</p>
                <nuxt-link class="btn btn-primary" :to="'/'">
                  Back to home
                </nuxt-link>
            </div>

            </div>

          </div>
        </div>
      </div>

    </div>
    
  </div>
</template>

<style lang="scss" scoped>
.product-detail{
  position: relative;
  .box-image-product{
    position: relative;
    padding: 40px;
    overflow: hidden;

    .ribbon-new, .ribbon-hot, .ribbon-best{
      position: absolute;
      display: inline-block;
      top: 0.4em;
      right: 0.6em;
      max-width: 6em;
      color: rgb(217,119,6);
      z-index: 1;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
    
      &:after {
        position: absolute;
        top: -1.5em;
        right: -7em;
        content: "";
        height: 6em;
        width: 17em;
        transform: rotatez(45deg);
        background-color: #fef3c7;
        z-index:-1;
      }
    }

    .ribbon-hot{
      color: rgb(255, 218, 224);
      &:after {
        background-color: rgb(207, 81, 102);
      }
    }

    .ribbon-best{
      color: rgb(155, 208, 239);
      &:after {
        background-color: rgb(1, 109, 172);
      }
    }

  }

  
}
</style>


<script>
import axios from 'axios'
import Header from '~/components/Header.vue'
import RatingProduct from '~/components/RatingProduct.vue'
export default {
  components: {
    Header,
    RatingProduct
  },
  data() {
    return {
      pageTitle: "RO-TEST",
      pageKeyword: "...",
      pageDescription: "....",
      loading: false,
      loadingBtn: false,
      paramSlug: this.$route.params.slug,
      product: null
    }
  },
  async asyncData({ route, params, env, store  }) {
    let dt = await axios.get(env.apiUrl + 'gifts/' + params.id)
    if(dt.data.data && Object.keys(dt.data.data).length){
      return {
        product: dt.data.data
      }
    }
  },
  head () {
    return {
        title: (this.product) ? this.product.attributes.name : this.pageTitle,
        meta: [
            { hid: 'keyword', name: 'keyword', content: this.pageKeyword },
            { hid: 'description', name: 'description', content: this.pageDescription },
        ]
    }
  },
  filters: {
    strippedContent: function(string) {
      return string.replace(/<\/?[^>]+>/ig, " "); 
    },
    formatNumber: function (num) {
      return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    }
  },
  async created() {
    try {
      this.loading = true
    } catch (e) {
        this.loading = false
    } finally {
        this.loading = false
    }
  },
  methods: {
    async getFav(){
      try {
        this.loadingBtn = true
        
        let fav = await this.$store.dispatch('loadApiPostGeneral', {
          endPoint: 'gifts/'+this.product.id+'/wishlist',
          payload: {}
        })

        if(this.product.attributes.isWishlist){
          this.product.attributes.isWishlist = 0
        }else{
          this.product.attributes.isWishlist = 1
        }

        
      } catch (e) {
        this.loadingBtn = false
      } finally {
        setTimeout(() => {
          this.loadingBtn = false
        }, 400)
      }
    },
    getRatingNumber(val, type){
      var num= val
      num = parseFloat(num).toFixed(1);
      var str=num.toString();
      var numarray=str.split('.');
      var half = false

      let rating = numarray[0];
      if(numarray[1] >=8){
        rating = parseFloat(numarray[0]) + 1
      }else if(numarray[1] >= 4 && numarray[1] < 8){
        rating = parseFloat(numarray[0]) + 0.5
        half = true
      }

      if(type == 'round'){
        return Math.floor(rating)
      }else{
        return half
      }
    },
  }

}
</script>
