<template>
  <div>
    <button 
      v-if="loadingBtn"
      type="button" class="btn btn-outline btn-abs-bookmark">
      <b-icon icon="arrow-counterclockwise" animation="spin-reverse" ></b-icon>
    </button>
    <button 
      v-else-if="product.attributes.isWishlist"  
      @click="getFav()"
      type="button" class="btn btn-light btn-abs-bookmark"><b-icon icon="bookmark-fill" aria-hidden="true"></b-icon></button>
    <button 
      v-else  
      @click="getFav()"
      type="button" class="btn btn-outline-light btn-abs-bookmark"><b-icon icon="bookmark-fill" aria-hidden="true"></b-icon></button>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      default: function() {
        return {
          data: null
        }
      }
    },
  },
  data() {
    return {
        loadingBtn: false,
        imgPath: process.env.imgPath,
    }
  },
  async created() {
   
  },
  methods: {
    async getFav(){
      try {
        this.loadingBtn = true
        
        let fav = await this.$store.dispatch('loadApiPostGeneral', {
          endPoint: 'gifts/'+this.product.id+'/wishlist',
          payload: {}
        })

        if(this.product.attributes.isWishlist){
          this.product.attributes.isWishlist = 0
        }else{
          this.product.attributes.isWishlist = 1
        }

        
      } catch (e) {
        this.loadingBtn = false
      } finally {
        setTimeout(() => {
          this.loadingBtn = false
        }, 400)
      }
    },
      
  }
}
</script>

<style>
.btn-abs-bookmark{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  margin-bottom: 15px;
}

.color-gold{
  color: goldenrod;
}
</style>