<template>
  <span class="color-gold">
    <!-- {{rate}} - {{half}} -->
    <b-icon 
      v-for="(v, n) in rate" :key="'rateStart' +  n"
      icon="star-fill" aria-hidden="true"></b-icon>
    <b-icon class="color-gold" v-if="half" icon="star-half" aria-hidden="true"></b-icon>
    <b-icon 
      v-for="(v, n) in sisa" :key="'rateStartNone' +  n"
      icon="star" aria-hidden="true"></b-icon>


  </span>
</template>

<script>
export default {
  props: {
    rate: {
      type: Number,
      default: 0
    },
    half: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
        loading: false,
        imgPath: process.env.imgPath,
        paramLang: this.$route.params.lang,
        hotelSlug: this.$route.params.id,
        sisa: 0
    }
  },
  async created() {
    this.sisa = 5 - this.rate
    if(this.half){
      this.sisa -= 1
    }
  },
  methods: {
      
      
  }
}
</script>

<style>
.color-gold{
  color: goldenrod;
}
</style>