// All of your custom SCSS variables go first
$primary:       #c05415;
$secondary:     #ddd;
$light:         #f1f1f1 ;
$dark:          #000000 ;
//then bootstrap & bootstrap-vue should be added after 
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');


body{
  font-family: 'Lato', sans-serif;
  background-color: white;
}

h1, h2, h3, h4, h5{
  font-family: 'Lato', sans-serif;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

.display-4, .display-3, .display-2, .display-1 {
  font-family: 'Lato', sans-serif;
}

.fs-20{
	font-size: 20px !important;
}

.fs-18{
	font-size: 18px !important;
}

.fs-16{
	font-size: 16px !important;
}


.fs-14{
	font-size: 14px !important;
}

.fs-13{
	font-size: 13px !important;
}

.fs-12{
  font-size: 12px !important;
}

.fs-11{
  font-size: 11px !important;
}

.fs-10{
  font-size: 10px !important;
}


h4{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;

}

.pb-6{
  padding-bottom: 4rem !important;
}