<template>
  <div class="py-5">

    <Header class="mb-5"/>
    <div class="main-page">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="filter-product">
              <p class="font-weight-bold fs-16 mt-3 text-uppercase">Filter</p> 
              <hr/>
              <div class="box-filter-product border p-2">
                <div class="row mb-2">
                  <div class="col-8"><p class="mb-0 fs-14">Rating 4 ke atas</p></div>
                  <div class="col-4"><b-form-checkbox class="float-right" v-model="rating"></b-form-checkbox></div>
                </div>
                <div class="row">
                  <div class="col-8"><p class="mb-0 fs-14">Stock tersedia</p></div>
                  <div class="col-4"><b-form-checkbox class="float-right" v-model="stock"></b-form-checkbox></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-8">
                <p class="font-weight-bold fs-16 mb-0 pt-3 text-uppercase">Product List</p>
              </div>
              <div class="col-4">
                <select class="custom-select float-right" v-model="order" @click="orderingProduct()">
                  <option value="default">Paling Sesuai</option>
                  <option value="terbaru">Terbaru</option>
                  <option value="ulasan">Ulasan</option>
                </select>
              </div>
            </div>
            <hr/>

            <div class="product-list" v-if="product && product.length ">
              <div class="row">
                <div 
                  v-for="(v, n) in getProduct()" :key="'productList' +  n"
                  class="col-4">
                  <div class="product mb-4">
                    <div class="box-product text-decoration-none" >

                      <div 
                        v-if="v.attributes.rating >= 4 && v.attributes.numOfReviews > 25 && v.attributes.isNew == 1"
                        class="ribbon-hot text-center pt-2">Hot<br/>Item</div>
                      <div 
                        v-else-if="v.attributes.rating >= 4 && v.attributes.numOfReviews > 25"
                        class="ribbon-best text-center pt-2">Best<br/>Seller</div>
                      <div 
                        v-else-if="v.attributes.isNew == 1"
                        class="ribbon-new text-center pt-2">New<br/>Item</div>

                      <p v-if="v.attributes.stock == 0" class="text-primary font-weight-bold text-danger">Sold Out</p>
                      <p v-else-if="v.attributes.stock >= 5" class="text-primary font-weight-bold text-success">In Stock</p>
                      <p v-else class="text-primary font-weight-bold text-danger">Stock < 5</p>

                      <div class="bg-img mb-3"  v-bind:style="{ 'background-image': 'url(' + v.attributes.images[0] + ')' }"/>
                      <h5 class="font-weight-bold mb-2 fs-16">{{v.attributes.name}}</h5>
                      <div class="row">
                        <div class="col-8 pr-0">
                          <p class="font-weight-normal mb-0 text-success">{{ v.attributes.points | formatNumber}} points</p>
                          
                          <p class="font-weight-normal mb-0 text-muted">
                            <RatingProduct class="mr-1" :half="getRatingNumber(v.attributes.rating, '')" :rate="getRatingNumber(v.attributes.rating, 'round')"/>
                            {{ v.attributes.numOfReviews | formatNumber}} reviews
                          </p>
                        </div>
                        <div class="col-4 text-right">
                          <button v-if="v.attributes.isWishlist" type="button" class="btn btn-primary"><b-icon icon="bookmark-fill" aria-hidden="true"></b-icon></button>
                          <button v-else type="button" class="btn btn-outline-primary"><b-icon icon="bookmark-fill" aria-hidden="true"></b-icon></button>
                        </div>
                      </div>
                    </div>

                    <div class="box-hover-product text-decoration-none" >
                      <p v-if="v.attributes.stock == 0" class="font-weight-bold text-light">Sold Out</p>
                      <p v-else-if="v.attributes.stock >= 5" class="font-weight-bold text-light">In Stock</p>
                      <p v-else class="font-weight-bold text-light">Stock < 5</p>
                      <h5 class="font-weight-bold mb-2 fs-16 text-light my-4 py-5">{{v.attributes.name}}</h5>
                    
                      <nuxt-link :to="'product/' + v.id+ '/' + v.attributes.slug" class="btn btn-outline-light btn-block fs-14 font-weight-bold">View Product</nuxt-link>
                      <ButtonWishlist :product="v" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    
  </div>
</template>

<style lang="scss" scoped>
.product-list{
  .product{
    position: relative;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    .bg-img{
      height: 250px;
      width: 100%;
      background-size: cover;
      background-attachment: scroll;
      background-repeat: no-repeat;
      background-position: 50%;
    }
    .box-hover-product{
      display: none;
      background:rgba(46, 204, 113, .9);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      padding: 15px;
    }
    &:hover{
      .box-hover-product{
        display: block;
        z-index: 2;
      }
    }
    .btn-abs-bookmark{
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 15px;
      margin-bottom: 15px;
    }

      
    .ribbon-new, .ribbon-hot, .ribbon-best{
      position: absolute;
      display: inline-block;
      top: 0.4em;
      right: 0.6em;
      max-width: 6em;
      color: rgb(217,119,6);
      z-index: 1;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
   
      &:after {
        position: absolute;
        top: -1.5em;
        right: -7em;
        content: "";
        height: 6em;
        width: 17em;
        transform: rotatez(45deg);
        background-color: #fef3c7;
        z-index:-1;
      }
    }

    .ribbon-hot{
      color: rgb(255, 218, 224);
      &:after {
        background-color: rgb(207, 81, 102);
      }
    }

    .ribbon-best{
      color: rgb(155, 208, 239);
      &:after {
        background-color: rgb(1, 109, 172);
      }
    }
  }
}
</style>

<script>
import Header from '~/components/Header.vue'
import RatingProduct from '~/components/RatingProduct.vue'
import ButtonWishlist from '~/components/ButtonWishlist.vue'
export default {
  components: {
    Header,
    RatingProduct,
    ButtonWishlist
  },
  data() {
    return {
      pageTitle: "RO-TEST",
      pageKeyword: "...",
      pageDescription: "....",
      loading: false,
      rating: false,
      stock: false,
      order: 'default',
      product: null
    }
  },
  head () {
    return {
      title: this.pageTitle,
      meta: [
          { hid: 'keyword', name: 'keyword', content: this.pageKeyword },
          { hid: 'description', name: 'description', content: this.pageDescription },
      ]
    }
  },
  filters: {
    formatNumber: function (num) {
      return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    }
  },
  async created() {
    try {
      this.loading = true
      let product = await this.$store.dispatch('loadApiGetGeneral', {
        endPoint: 'gifts?page[number]=1&page[size]=20',
      })
      this.product = product.data

    } catch (e) {
        this.loading = false
    } finally {
        this.loading = false
    }
  },
  methods: {
    getRatingNumber(val, type){
      var num= val
      num = parseFloat(num).toFixed(1);
      var str=num.toString();
      var numarray=str.split('.');
      var half = false

      let rating = numarray[0];
      if(numarray[1] >=8){
        rating = parseFloat(numarray[0]) + 1
      }else if(numarray[1] >= 4 && numarray[1] < 8){
        rating = parseFloat(numarray[0]) + 0.5
        half = true
      }

      if(type == 'round'){
        return Math.floor(rating)
      }else{
        return half
      }
    },
    getProduct(){
      let dt =  this.product
      if(this.stock && this.rating){
        return dt.filter(task => (task.attributes.stock > 0 && task.attributes.rating >= 4))
      }else if(this.stock){
        return dt.filter(task => (task.attributes.stock > 0))
      }else if(this.rating){
        return dt.filter(task => (task.attributes.rating >= 4))
      }else{
        return dt
      }
    },
    orderingProduct(){
      let dt =  this.product
      if(this.order == 'ulasan'){
        dt.sort(function (a, b) {
          return b.attributes.numOfReviews - a.attributes.numOfReviews;
        });
      }else if(this.order == 'terbaru'){
        dt.sort(function (a, b) {
          return b.attributes.isNew - a.attributes.isNew;
        });
      }else if(this.order == 'default'){
        dt.sort(function (a, b) {
          return a.attributes.id - b.attributes.id;
        });
      }
    }
  }

  

}
</script>
